<div class="slideshow-thumbnav" uk-slideshow="animation: scale; autoplay: true; autoplay-interval: 5000;">

  <!-- Slideshow principal -->
  <div class="uk-slideshow">
    <div class="text-position">
      <h1>Nossos <span>serviços</span></h1>
      <p id="txt">Seu parceiro no digital ajudamos você a construir, crescer e<br>
        se destacar com tudo que o seu negócio precisa no digital
      </p>
    </div>
    <ul class="uk-slideshow-items">
      <li>
        <img src="/img/siteselp.png" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-transition-slide-bottom">
          <div class="text">
            <h5 class="uk-margin-remove">Sites e Landing Page</h5>
            <p class="uk-margin-remove">
              Desenvolvemos sites modernos, responsivos e<br>
              personalizados para apresentar sua marca com<br>
              profissionalismo e conversão.
            </p>
            <a href="#">Entre em contato</a>
          </div>
        </div>
      </li>
      <li>
        <img src="/img/sobmedida.png" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-transition-slide-bottom">
          <div class="text">
            <h5 class="uk-margin-remove">Sistemas Sob Medida</h5>
            <p class="uk-margin-remove">
              Automatize processos com sistemas feitos<br>
              especialmente para a rotina do seu negócio<br>
              fáceis de usar e prontos para crescer com você.
            </p>
            <a href="#">Entre em contato</a>
          </div>
        </div>
      </li>
      <li>
        <img src="/img/marketing.png" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-transition-slide-bottom">
          <div class="text">
            <h5 class="uk-margin-remove">Marketing Digital</h5>
            <p class="uk-margin-remove">
              Cuidamos da sua presença online com<br>
              planejamento de conteúdo, identidade visual e<br>
              consistência nas publicações.
            </p>
            <a href="#">Entre em contato</a>
          </div>
        </div>
      </li>
      <li>
        <img src="/img/automacoesbt.png" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-transition-slide-bottom">
          <div class="text">
            <h5 class="uk-margin-remove">Bots e Automatizações</h5>
            <p class="uk-margin-remove">
              Crie um atendimento ágil com chatbots para<br>
              WhatsApp e otimize tarefas repetitivas com<br>
              automações inteligentes.
            </p>
            <a href="#">Entre em contato</a>
          </div>
        </div>
      </li>
    </ul>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>

  <!-- Thumbnails à direita -->
   <div class="ul-position">
    <ul class="uk-li">
      <div data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500">
        <li uk-slideshow-item="0" style="padding: 0;">
          <a href="#"><img src="/img/stlp.png" width="500" height="70" alt=""></a>
        </li>
      </div>
      <div data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="1000">
        <li><img src="/img/Lineservicos.png" alt=""></li>
        <li uk-slideshow-item="1" style="padding: 0;">
          <a href="#"><img src="/img/ssm.png" width="500" height="70" alt=""></a>
        </li>
      </div>
      <div data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="1500">
        <li><img src="/img/Lineservicos.png" alt=""></li>
        <li uk-slideshow-item="2" style="padding: 0;">
          <a href="#"><img src="/img/mk.png" width="500" height="70" alt=""></a>
        </li>
      </div>
      <div data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="2000">
        <li><img src="/img/Lineservicos.png" alt=""></li>
        <li uk-slideshow-item="3" style="padding: 0;">
          <a href="#"><img src="/img/botseauts.png" width="500" height="70" alt=""></a>
        </li>
      </div>
    </ul>
  </div>
</div>
