<div class="elements-position">
  <div class="img-position">
    <img src="/logo/logocontato.png" alt="">
  </div>
  <div class="text-position">
    <h1>Pronto para começar
        seu <span>projeto?</span></h1>

    <p>Estamos prontos para ouvir suas ideias e
       transformá-las em soluções digitais. Entre em
       contato agora mesmo pelo nosso WhatsApp ou
       Instagram.
    </p>
    <div class="btn-position">
      <div class="btn-wpp">
        <button class="button-wpp"><img src="/icon/wppicon.png" alt="">Whatsapp</button>
      </div>
      <div class="btn-instagram">
        <button class="button-insta"><img src="/icon/instaicon.png" alt="">Instagram</button>
      </div>
    </div>
  </div>
  <div class="form">
    <form action="https://formsubmit.co/emanuelpsn07@gmail.com" method="post">
      <p>Ou envie sua mensagem por e-mail e fale com a<br>
         nossa equipe!</p>
      <input type="hidden" name="_next" value="http://localhost:4200/obrigado">
      <div>
        <input type="text" name="Nome" placeholder="Nome" required>
      </div>
      <div>
        <input type="text" name="Email" placeholder="Email" required>
      </div>
      <div>
        <input type="text" name="Telefone" placeholder="Telefone" required>
      </div>
      <div>
        <textarea name="Descrição" placeholder="Breve descrição do projeto" required></textarea>
      </div>
      <div id="btn-padding">
        <button type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>
