
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="itens-position">
      <a class="navbar-brand" href="#"><img src="/logo/logonavbar.png" alt="" /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="itens-position">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#banner">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#servicos">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre">Processo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato">Contatos</a>
          </li>
          <li class="nav-item" id="button-warning">
            <a class="nav-link" id="button-warning" style="margin-right: 0; " href="#contato">Fale conosco</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
