<div class="element-position">
  <div class="title">
    <h1>Nosso <span>processo</span></h1>
    <img src="/img/lineprocess.png" alt="line">
  </div>
  <div class="item-position">
    <div data-aos="flip-left" data-aos-duration="1000">
      <div class="item">
        <h2>01</h2>
        <h5>Alta Performace</h5>
        <p>Análise detalhada das suas
          necessidades e objetvos.</p>
      </div>
    </div>
    <div data-aos="flip-left" data-aos-duration="2000">
      <div class="item">
        <h2>02</h2>
        <h5>Design</h5>
        <p>Criação de interfaces modernas
          e intuitivas.</p>
      </div>
    </div>
    <div data-aos="flip-left" data-aos-duration="3000">
      <div class="item">
        <h2>03</h2>
        <h5>Desenvolvimento</h5>
        <p>Implementção com as melhores
          tecnologias.</p>
      </div>
    </div>
    <div data-aos="flip-left" data-aos-duration="3000">
      <div class="item">
        <h2>04</h2>
        <h5>Lançamento</h5>
        <p>Testes rigorosos e deploy com
          segurança.</p>
      </div>
    </div>
  </div>
</div>
