
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.banner{
  background: linear-gradient(109deg, #0D0829 30%, #092562 56%, #082E75 86%);
  width: 100%;
  height: 530px;
}

#sobre{
  height: 1045px;
}

.bg{
  height: 800px;
  background: linear-gradient(61deg, #003B8C 0%,#001026 100%);
}

.container-process{
  padding-top: 120px;

}

#contato{
  background-image: url(/img/bgcontato.png);
  height: 100%;
  width: 100%;
  background-size: cover;
}
