<header id="banner">
  <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top">
  <app-navbar></app-navbar>
</div>
</header>
<div class="banner">
  <app-banner></app-banner>
</div>
<section id="servicos" style="background-color: #EDEDED; height: 520px;">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-11">
        <div class="container">
          <app-servicos></app-servicos>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="escolha">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-11">
        <div class="container" style="text-align: center;">
          <app-escolha></app-escolha>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sobre">
  <div class="bg" style="background: linear-gradient(61deg, #003B8C 0%,#001026 100%);">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-11">
          <div class="container" style="text-align: center;">
            <app-sobre></app-sobre>
            <div class="container-process">
              <app-process></app-process>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 <section id="contato">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-11">
        <div class="container" id="container-contact" style="padding: 0;">
          <app-contato></app-contato>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #130E31;">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-11">
        <div class="container">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</section>



