<div class="bannerElements">
  <div class="bannerText">
    <p id="title-alert"><span>Transformamos</span> ideias</p>
    <p id="title-alert">em <span>soluções</span> digitais que</p>
    <p id="title-alert">geram <span>resultados</span></p>
    <p id="subtitle-alert">Sites, Sistemas, Marketing e Automação...</p>
    <p id="subtitle-alert">Tudo em um só lugar...</p>
    <div class="btn-position">
      <a href="#sobre"><button id="btn">Saiba mais</button></a>
    </div>
  </div>
  <div class="bannerImage">
    <div class="terminal-loader" id="resp-terminal">
      <div class="terminal-header">
        <div class="terminal-title">Dev</div>
        <div class="terminal-controls">
          <div class="control close"></div>
          <div class="control minimize"></div>
          <div class="control maximize"></div>
        </div>
      </div>
      <div class="text">
        
      </div>
    </div>
  </div>
</div>
