  <div class="item-position">
    <div class="item" style="padding-top: 20px;">
      <h1>Sobre <span>nós</span></h1>
      <p>Na Dev Digital, unimos criatividade e tecnologia para
        transformar ideias em soluções digitais sob medida.
        Somos um time jovem e comprometido com o que há de mais
        atual no desenvolvimento de sites, sistemas, automações e
        marketing digital. Nossa missão é entregar resultados de forma
        simples, eficaz e acessível — seja para empresas, profissionais
        ou pequenos negócios que querem dar o próximo passo no
        mundo online.
      </p>

      <p>Trabalhamos com transparência, agilidade e foco total no que realmente<br>
        importa: fazer seu projeto sair do papel com qualidade e impacto.
      </p>
      <div class="btn-position">
        <button id="btn">Saiba mais</button>
      </div>
    </div>
    <div class="item" style="margin-top: 35px;">
      <img src="/img/fotosobre.png" alt="foto">
    </div>
  </div>

