<div class="item-position">
  <div class="img-position">
    <img src="/img/fotonote.png" alt="foto">
  </div>
  <div class="element-position">
    <div class="text-position">
      <h1>Por que nos escolher?</h1>
      <p style="max-width: 100%;" id="p-txt">Sites otimizados para carregar rapidamente e proporcionar a <br>
        melhor experiência.
      </p>
      <div class="item-flex">
        <div class="item-group">

          <div class="item">
            <div>
              <img src="/icon/rocketicon.png" alt="icon">
            </div>
            <div>
              <h5>Alta Performace</h5>
              <p>Sites otimizados para
                carregar rapidamente e
                proporcionar a melhor
                experiência.</p>
            </div>
          </div>

          <div class="item">
            <div>
              <img src="/icon/resulticon.png" alt="icon">
            </div>
            <div>
              <h5>Resultados</h5>
              <p>Sites otimizados para
                carregar rapidamente e
                proporcionar a melhor
                experiência.</p>
            </div>
          </div>
        </div>
        <div class="item-group">

          <div class="item">
            <div>
              <img src="/icon/suporticon.png" alt="icon">
            </div>
            <div>
              <h5>Suporte Contínuo</h5>
              <p>Sites otimizados para
                carregar rapidamente e
                proporcionar a melhor
                experiência.</p>
            </div>
          </div>

          <div class="item">
            <div>
              <img src="/icon/equipeicon.png" alt="">
            </div>
            <div>
              <h5>Equipe Especializada</h5>
              <p>Sites otimizados para
                carregar rapidamente e
                proporcionar a melhor
                experiência.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

